@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

html{
    /* box-sizing: border-box; */
    font-size: 10px;
    background: url('../assets/images/bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    color: #FFF;
    padding: 0;
    margin: 0;
}
*, *:before, *:after{
    box-sizing: inherit;
}
.title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1;
    margin-top: 5%;
    margin-bottom: 0;
}
.title span{
    font-family: 'Indie Flower', cursive;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
    /* text-shadow: 0 0 3px rgb(1, 78, 1), 0 0 5px #000 ; */
    font-size: 8rem;
    color: #FFF;
}
.rabbit {
    float: left;
    left: 15%;
    margin-top: 3%;
    width: 5em;
    height: 3em;
    background:#FFF;
    border-radius:70% 90% 60% 50%;
    position:relative;
    box-shadow: -0.2em 1em 0 -0.75em #b78e81;
    transform: rotate(0deg) translate(-2em,0);
    animation: hop 1s infinite linear;
    z-index:1;
}
.rabbit .no-flexbox {
    margin:10em auto 0;
}
.rabbit:before {
    content:"";
    position:absolute;
    width:1em;
    height:1em;
    background:white; 
    border-radius:100%;
    top:0.5em;
    left:-0.3em;
    box-shadow:
        4em 0.4em 0 -0.35em #3f3334, 
        0.5em 1em 0 white, 
        4em 1em 0 -0.3em white, 
        4em 1em 0 -0.3em white,
        4em 1em 0 -0.4em white;
    animation: kick 1s infinite linear;
}
.rabbit:after {
    content:"";
    position:absolute;
    width:.75em;
    height:2em;
    background:white;
    border-radius:50% 100% 0 0;
    transform: rotate(-30deg);
    right:1em;
    top:-1em;
    border-top:1px solid #f7f5f4;
    border-left: 1px solid #f7f5f4;
    box-shadow:-0.5em 0em 0 -0.1em white;
}
.clouds {
    left: 81%;
    margin-top: 6%;
    margin-bottom: -2%;
    background:#FFF;
    width:2em;
    height:2em;
    border-radius:100% 100% 0 0;
    position:relative;
    top:-5em;
    opacity: 0;
    transform: translate(0,0);
    animation: cloudy 2s infinite linear forwards;
    box-shadow:5em 2em 0 -0.3em white, -2em 2em 0 0 white;
}
.clouds:before,
.clouds:after {
    content:'';
    position:absolute;
    box-shadow:5em 2em 0 -0.3em white, -2em 2em 0 white;
}
.clouds:before {
    width:1.25em;
    height:1.25em;
    border-radius:100% 100% 0 100%;
    background:white;
    left:-30%;
    bottom:0;
}
.clouds:after {
    width:1.5em;
    height:1.5em;
    border-radius:100% 100% 100% 0;
    background:white;
    right:-30%;
    bottom:0;
}  
@keyframes hop {
    20% {
        transform: rotate(-10deg) translate(1em,-2em);
        box-shadow: -0.2em 3em 0 -1em #b78e81;
    }
    40% {
        transform: rotate(10deg) translate(3em,-4em);
        box-shadow: -0.2em 3.25em 0 -1.1em #b78e81;
    }
    60%,75% {
        transform: rotate(0) translate(4em,0);
        box-shadow: -0.2em 1em 0 -0.75em #b78e81;
    }
}
@keyframes kick {
    20%,50% {
      box-shadow:
        4em 0.4em 0 -0.35em #3f3334,
        0.5em 1.5em 0 white,
        4em 1.75em 0 -0.3em white,
        4em 1.75em 0 -0.3em white,
        4em 1.9em 0 -0.4em white;
    }
    40% {
      box-shadow:
        4em 0.4em 0 -0.35em #3f3334,
        0.5em 2em 0 white,
        4em 1.75em 0 -0.3em white,
        4.2em 1.75em 0 -0.2em white,
        4.4em 1.9em 0 -0.2em white;
    }
}  
@keyframes cloudy {
    10%{
        opacity: 0.5;
    }
    40% {
        opacity: 0.85;
        transform: translate(-3em,0);
    }
    55% {
        opacity: 0.25;
        transform: translate(-4em,0);
    }
    60% {
        opacity: 0;
    }
    90% {
        transform: translate(0,0);
    }
}

.button {
    margin-left: 1%;
    margin-top: 1%;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 54px;
    border-color: transparent transparent transparent #FFF;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 27px 0 27px 50px;
}
.button.paused {
    margin-left: 1%;
    margin-top: 1%;
    border-style: double;
    border-width: 0px 0 0px 60px;
}
.hide {
    display: none;
}
.button:hover {
    border-color: transparent transparent transparent #FFF;
}
.score{
    float: left;
    margin-top: 0.1%;
    left: 0;
    color: #000;
    font-size: 5em;
    font-weight: 800;
    text-align: center;
    background: #FFF;
    height: 50px;
    width: 100px;
    padding: 0 3rem;
    line-height: 1;
}
.hourglass-wrapper {
    float: left;
    position: relative;
    top: 80px;
    left: -150px;
    width: 60px;
    height: 60px;
    background: #EEE;
    border: 10px solid #7F683F;
    padding: 50px;
    border-radius: 100%;
    -webkit-animation: flip 150s linear infinite;
}
@-webkit-keyframes flip {
   0% {
        -webkit-transform: rotate(0deg);
   }
   45% {
        -webkit-transform: rotate(0deg);
   }
   50% {
        -webkit-transform: rotate(180deg);
   }
   95% {
        -webkit-transform: rotate(180deg);
   }
   100% {
        -webkit-transform: rotate(360deg);
   }
}
.hourglass {
    float: left;
    position: absolute;
    margin: 0 auto;
    width: 60px;
    top: 10px;
    bottom: 10px;
    border: 2px solid #7F683F;
}
.hourglass:before {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    height: 20px;
    background: #7F683F;
}
.hourglass:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: -10px;
    right: -10px;
    height: 20px;
    background: #7F683F;
}
.sand-top-up {
    position: absolute;
    background-color: white;
    width: 100%;
    -webkit-animation: top-up 140s ease-in-out infinite;
}
@-webkit-keyframes top-up {
   0% {
        top: 10px;
        bottom: 50%;
   }
   50% {
        top: 50%;
        bottom: 50%;
        opacity: 1;
   }
   51% {
        opacity: 0;
   }
   100% {
        opacity: 0;
   }
}
.sand-top-down {
    position: absolute;
    background-color: white;
    width: 100%;
    top: 10px;
    bottom: 50%;
    -webkit-animation: top-down 140s ease-in-out infinite;
}
@-webkit-keyframes top-down {
   0% {
        opacity: 0;
   }
   50% {
        opacity: 0;
        top: 10px;
        bottom: 90%;
   }
   51% {
        opacity: 1;
   }
   100% {
        bottom: 50%;
        top: 10px;
        opacity: 1;
   }
}
.sand-bottom-up {
    position: absolute;
    background-color: white;
    width: 100%;
    top: 50%;
    bottom: 0;
    -webkit-animation: bottom-up 140s ease-in-out infinite;
}
@-webkit-keyframes bottom-up {
   0% {
        top: 100%;
        bottom: 0;
        opacity: 1;
   }
   50% {
        top: 50%;
        bottom: 0;
        opacity: 1;
   }
   51% {
        opacity: 0;
   }
   100% {
        opacity: 0;
   }
}
.sand-bottom-down {
    position: absolute;
    background-color: white;
    width: 100%;
    top: 50%;
    bottom: 0;
    -webkit-animation: bottom-down 140s ease-in-out infinite;
}
@-webkit-keyframes bottom-down {
   0% {
        opacity: 0;
   }
   50% {
        opacity: 0;
   }
   51% {
        top: 50%;
        bottom: 0;
        opacity: 1;
   }
   100% {
        top: 50%;
        bottom: 50%;
        opacity: 1;
   }
}
.pour {
    position: absolute;
    width: 49%;
    top: 10px;
    bottom: 0;
    border-right: 2px dashed white;
    -webkit-animation: line 140s ease-in-out infinite;
}
@-webkit-keyframes line {
   0% {
        top: 50%;
        bottom: 0;
   }
   50% {
        top: 50%;
        bottom: 50%;
   }
   100% {
        top: 10px;
        bottom: 50%;
   }
}
.mask {
    position: relative;
    box-sizing: border-box;
    top: 10px;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 58.5px 30px;
    border-color: transparent #EEE;
    z-index: 100;
}
.game{
    width: 1000px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.hole{
    flex: 0 0 26%;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
    margin-right: 9%;

}
.hole3,.hole6{
    margin-right: 0;
}
.hole:after {
    display: block;
    background: url('images/holefinal.png') bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 100%;
    height: 75px;
    position: absolute;
    z-index: 2;
    bottom: -1px;
  }
.bunny{
    background: url('images/rabbit1.png') bottom center no-repeat;
    background-size: 150%;
    position: absolute;
    top: 100%;
    width: 70%;
    height: 90%;
    transition: all 0.4s;
    left: 18%;
}
.bunny:hover{
    cursor: pointer;
}
.hole.up .bunny{
    top: 0;
}